<%= content_tag :div, id: "election",
  data: [id: @election.id] do %><% end %>


<div>
  <div class="row">
    <div class="col-lg-12">
      <h3><%= @election.name %></h3>
      <p class="directions">
        To vote on this issue, click on the candidates in the order you would like. Clicking on a
        selected candidate will reset them. When you are finished, click the Vote button to submit
        your ballot.
      </p>
    </div>
  </div>

  <div id="vote-box"></div>
</div>
